#!/usr/bin/make -f

override_dh_installdocs:
	dh_installdocs --all README.md
	# remove docs that belong elsewhere
	rm -rf debian/*/usr/share/doc/postgresql-doc-*

override_dh_link:
	set -ex; for v in $(shell pg_buildext supported-versions); do mkdir debian/postgresql-$$v-pgextwlist/usr/lib/postgresql/$$v/lib/plugins; ln -s ../pgextwlist.so debian/postgresql-$$v-pgextwlist/usr/lib/postgresql/$$v/lib/plugins; done

override_dh_pgxs_test:
	pg_buildext \
	  -o local_preload_libraries=pgextwlist \
	  -o extwlist.extensions=citext,earthdistance,pg_trgm,pg_stat_statements \
	  -o extwlist.custom_path=$(CURDIR)/test-scripts \
	  installcheck . . postgresql-%v-pgextwlist

%:
	dh $@ --with pgxs_loop
